*html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
body{
    
    overflow: hidden;
}

  
  th {
    background-color: lightgray;
    border: 1px solid lightslategray;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .table-data{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }